body {
  font-size: 62.5%;
  font-family: "Poppins", Helvetica, sans-serif;
}
.hero {
  background: url("../images/hero.jpg");
  background-attachment: fixed;
  height: 100vh;
}

h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem 0.8#333;
  word-spacing: 1.5;
}

p {
  font-size: 1.5rem;
  color: white;
  background-color: #0000007e;
  padding: 0.5rem;
  font-weight: 300;
  text-transform: capitalize;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
